@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Roboto+Slab:wght@200&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;

  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  font-size: 85%;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* BUTTON✨ */

.AccountButton {
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
}

.AccountButton_default {
  background-color: #ececec;
  color: black;
}

.AccountButton_positive {
  background-color: #7c98bc;
  color: whitesmoke;
}

.AccountButton_negative {
  background-color: #c68181;
  color: whitesmoke;
}

/* Account_HEADER✨ */

.AccountHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

.AccountHeader > div {
  display: flex;
}

.AccountHeader .head_text {
  width: 50%;
  font-size: 20px;
  color: #7c98bc;
  justify-content: center;
}

.AccountHeader .head_btn_left {
  width: 25%;
  justify-content: start; /*display 속성에서  왼쪽 끝으로 감*/
}
.AccountHeader .head_btn_right {
  width: 25%;
  justify-content: end; /*display 속성에서  오른쪽 끝으로 감*/
}

.AccountHeader button {
  font-family: "Roboto Slab", serif;
}

/* DiaryList */

.AccountList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.AccountList .menu_wrapper .right_col {
  flex-grow: 1;
}

.AccountList .menu_wrapper .right_col button {
  width: 100%;
}

.AccountList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;

  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

/* DiaryItem */

.AccountItem {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
}

.AccountItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
